<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<title>Women's Soccer News Cruise</title>
	</head>

	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1 class="display-4">Women's National Soccer Team News Cruise</h1>
			<p class="lead">Scrape the latest news on the Women's National Soccer Team and give us some feedback!</p>
			<button class="btn m-1">View All</button><button class="btn m-1">Scrape More</button>
		</div>
	</div>

	</header>

	<body>
		{{{ body }}}
	</body>

	
</html>

<div id="body">
    <div class= "container">
        
       


